.car-catalog-page {
    text-align: center;
}

.car-catalog-page .title {
    padding: 30px 0;
}

.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
}

.car-list .empty-articles {
    padding: 20vh;
}