.car-catalog-page {
    text-align: center;
}

.car-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    padding-top: 30px;
}

.empty-articles{
    padding: 10em 0;
}