* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main> :not(.home) {
    padding-top: 100px;
    min-height: 100vh;
}

#child-box {
    background-image: url('../src/assets//general-img/img-back.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}