.post-details {
    display: flex;
    justify-content: center;
}

.post-details p {
    margin: 0;
    padding: 0;
}

.post-details img {
    width: 450px;
    height: 800px;
}

.post-details .info-section {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 800px;
    background-color: black;
    color: white;
    justify-self: flex-end;
}

.post-details .general-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 0 30px;
}

.post-details .date {
    font-size: 10px;
}

.post-details .auth-buttons {
    display: flex;
    gap: 2em;
}

.post-details .auth-buttons>* {
    padding: 2px 10px;
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 10px;
}

.post-details .auth-buttons .edit-button {
    background-color: orange;
}

.post-details .auth-buttons .delete-button {
    background-color: red;
}

.post-details .auth-buttons>*:hover {
    background-color: lightblue;
}

.post-details .summary {
    padding: 30px;
}

.post-details .comments-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.comments-section ul {
    height: 450px;
    padding: 20px 10px 20px 40px;
    overflow-y: scroll;
    list-style-type: none;
    border: 1px solid grey;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.comments-section ul li {
    padding-bottom: 10px;
    line-height: 22px;
}

.comments-section ul .no-comment {
    text-align: center;
    margin-top: 200px;
}

.comments-section span {
    font-weight: bold;
}

.comments-section .create-reacted {
    margin-top: auto;
    padding-bottom: 10px;
}

.form-comment {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.post-details textarea[name="comment"] {
    width: 450px;
    height: 35px;
    resize: none;
    /* overflow: hidden; */
}

.post-details input[type="submit"] {
    color: white;
    background-color: magenta;
    border-radius: 10px;
}

.post-details input[type="submit"]:hover {
    color: magenta;
    background-color: wheat;
}