.my-profile {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.my-profile .profile-info {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 400px;
    padding: 10px;
    border-radius: 30px;
    border: 5px solid rgb(37, 127, 237);
    box-shadow: 0 0 30px 20px skyblue;
    background-color: skyblue;
}

.my-profile .profile-data {
    height: 90%;
}

.my-profile .owner-buttons {
    height: 10%;
}

.my-profile .button-create-post {
    /* font-size: 18px; */
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    background-color: magenta;
}

.my-profile .button-create-post:hover {
    background-color: rgb(237, 123, 237);
}