.car-quick-view .message {
    text-align: center;
    padding: 100px 0 30px 0;
}

.car-quick-view .message h2 {
    padding: 10px;
    color: white;
    background-color: skyblue;
}

.car-quick-list {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    gap: 3em;
}