header {
    position: fixed;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 30px;
    /* background-size: cover; */
}

header .icon-home img {
    width: 40px;
}

header .backdrop {
    position: fixed;
}

header .backdrop_active {
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 1s ease-in-out;
}

.nav_menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    z-index: 10;
    width: 90%;
    height: 350px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border: 1px solid rgba(255, 255, 255, 0.409);
    background: rgba(87, 81, 81, 0.204);
    backdrop-filter: blur(15px);
    transform: translateY(-110%);
    transition: 0.5s ease-in-out;
}

.nav_active {
    transform: translateY(-10%);
}

.nav_menu .web-link,
.nav_menu .user-link,
.nav_menu .profile-link {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.nav_menu span {
    font-size: 1em;
    color: skyblue;
}

.nav_menu a {
    font-size: 1.5em;
    font-weight: bold;
    color: skyblue;
    text-decoration: none;
}

.nav_menu a:hover {
    text-decoration: underline overline;
}

.nav_menu .logout {
    color: red;
}

.nav_toogle div {
    width: 2.5rem;
    height: 0.3rem;
    margin: 0.4rem;
    background-color: white;
    border: 0.1px solid black;
    transition: 0.2s ease-in;
}

.nav_toogle {
    cursor: pointer;
}

.toogle .line1 {
    transform: rotate(-45deg) translate(-10px, 5px);
}

.toogle .line2 {
    opacity: 0;
}

.toogle .line3 {
    transform: rotate(45deg) translate(-10px, -5px);
}