.post-gallery-page {
    min-height: 100vh;
    text-align: center;
}

.post-gallery-page .title {
    padding: 30px 0;
}

.post-gallery-page .empty-articles {
    padding-top: 10em;
}

.post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10em;
}