.car-quick-item {
    width: 350px;
    height: 500px;
    background-color: rgba(157, 225, 251, 0.467);
    backdrop-filter: blur(20px);
    border: 2px solid white;
    border-bottom-right-radius: 75px;
    border-top-left-radius: 75px;
    overflow: hidden;
}

.car-quick-item img {
    width: 350px;
    height: 197px;
    transition: 0.5s;
}

.car-quick-item:hover img {
    transform: scale(1.1);
}

.car-quick-item .intro {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-top: 50px;
}

.car-quick-item .intro h3 {
    font: bold 1.8em 'sans-serif';
}

.car-quick-item .intro svg {
    width: 30px;
    height: 20px;
    padding: 10px;
    color: skyblue;
    border: 2px solid skyblue;
    border-radius: 10px;
    cursor: pointer;
}

.car-quick-item .intro svg:hover {
    color: white;
    background-color: black;
    border: 2px solid black;
}